/.idea/
/build/
/.dart_tool/
/ios/.symlinks/
/ios/Podfile.lock
/ios/Pods/
/macos/
/linux/
/.flutter-plugins
/.flutter-plugins-dependencies
/android/.idea/
/android/.kotlin/
/android/app/.cxx/
/pubspec.lock
